# --------------------------
# ENV FILES (CRITICAL Ì¥ê)
# --------------------------
.env
.env.*
*.env

# --------------------------
# PYTHON
# --------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# --------------------------
# VIRTUAL ENV
# --------------------------
venv/
.envrc

# --------------------------
# LOGS
# --------------------------
*.log

# --------------------------
# IDE / EDITOR
# --------------------------
.vscode/
.idea/

# --------------------------
# OS FILES
# --------------------------
.DS_Store
Thumbs.db

# --------------------------
# BUILD FILES
# --------------------------
dist/
build/
